@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
[data-theme='light'] {
  --grey-50: #ffffff;
  --grey-100: #566474;
  --black-50: #566474;
  --black-100: #ffffff;
  --black-150: #f5f7fa;
  --black-200: #e6ebf4;
  --black-250: #ffffff;
  --black-300: #ffffff;
  --black-350: #000000;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);

  --fog-bg: rgba(255, 255, 255, 0.6);

  /* ===== Comment / Quote ===== */
  --comment: #655f6d;
  --quote: #655f6d;

  /* ===== Variables / Tags / Links ===== */
  --variable: #be4678;
  --template-variable: #be4678;
  --attribute: #be4678;
  --tag: #be4678;
  --name: #be4678;
  --regexp: #be4678;
  --link: #be4678;
  --selector-id: #be4678;
  --selector-class: #be4678;

  /* ===== Numbers / Literals / Builtins ===== */
  --number: #aa573c;
  --meta: #aa573c;
  --built-in: #aa573c;
  --builtin-name: #aa573c;
  --literal: #aa573c;
  --type: #aa573c;
  --params: #aa573c;

  /* ===== Strings / Symbols / Bullets ===== */
  --string: #2a9292;
  --symbol: #2a9292;
  --bullet: #2a9292;

  /* ===== Titles / Sections ===== */
  --title: #576ddb;
  --section: #576ddb;

  /* ===== Keywords ===== */
  --keyword: #955ae7;
  --selector-tag: #955ae7;

  /* ===== Diff / Changes ===== */
  --deletion-text: #19171c;
  --deletion-bg: #be4678;

  --addition-text: #19171c;
  --addition-bg: #2a9292;
}

[data-theme='dark'] {
  --grey-50: #1a1a1d;
  --grey-100: #7994c1;
  --black-50: #ffffff;
  --black-100: #000000;
  --black-150: #031527;
  --black-200: #212121;
  --black-250: #07111c;
  --black-300: #000000;
  --black-350: #ffffff;

  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);

  --fog-bg: transparent;

  /* ===== Comment / Quote ===== */
  --comment: #7e7887;
  --quote: #7e7887;

  /* ===== Variables / Tags ===== */
  --variable: #be4678;
  --template-variable: #be4678;
  --attribute: #be4678;
  --regexp: #be4678;
  --link: #be4678;
  --tag: #be4678;
  --name: #be4678;
  --selector-id: #be4678;
  --selector-class: #be4678;

  /* ===== Numbers / Builtins ===== */
  --number: #aa573c;
  --meta: #aa573c;
  --built-in: #aa573c;
  --builtin-name: #aa573c;
  --literal: #aa573c;
  --type: #aa573c;
  --params: #aa573c;

  /* ===== Strings ===== */
  --string: #2a9292;
  --symbol: #2a9292;
  --bullet: #2a9292;

  /* ===== Titles ===== */
  --title: #576ddb;
  --section: #576ddb;

  /* ===== Keywords ===== */
  --keyword: #955ae7;
  --selector-tag: #955ae7;

  /* ===== Diff ===== */
  --deletion-text: #19171c;
  --deletion-bg: #be4678;

  --addition-text: #19171c;
  --addition-bg: #2a9292;
}

@theme inline {
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-black-50: var(--black-50);
  --color-black-100: var(--black-100);
  --color-black-150: var(--black-150);
  --color-black-200: var(--black-200);
  --color-black-250: var(--black-250);
  --color-black-300: var(--black-300);
  --color-black-350: var(--black-350);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* ===== Comment / Quote ===== */
  --color-comment: var(--comment);
  --color-quote: var(--quote);

  /* ===== Variables / Tags ===== */
  --color-variable: var(--variable);
  --color-template-variable: var(--template-variable);
  --color-attribute: var(--attribute);
  --color-regexp: var(--regexp);
  --color-link: var(--link);
  --color-tag: var(--tag);
  --color-name: var(--name);
  --color-selector-id: var(--selector-id);
  --color-selector-class: var(--selector-class);

  /* ===== Numbers / Builtins ===== */
  --color-number: var(--number);
  --color-meta: var(--meta);
  --color-built-in: var(--built-in);
  --color-builtin-name: var(--builtin-name);
  --color-literal: var(--literal);
  --color-type: var(--type);
  --color-params: var(--params);

  /* ===== Strings ===== */
  --color-string: var(--string);
  --color-symbol: var(--symbol);
  --color-bullet: var(--bullet);

  /* ===== Titles ===== */
  --color-title: var(--title);
  --color-section: var(--section);

  /* ===== Keywords ===== */
  --color-keyword: var(--keyword);
  --color-selector-tag: var(--selector-tag);

  /* ===== Diff ===== */
  --color-deletion-text: var(--deletion-text);
  --color-deletion-bg: var(--deletion-bg);
  --color-addition-text: var(--addition-text);
  --color-addition-bg: var(--addition-bg);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.input-group {
  position: relative;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s ease all;
  padding: 0 4px;
  opacity: 0;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -4px;
  left: 8px;
  font-size: 12px;
  opacity: 100;
}

.card-copy-fog {
  position: relative;
}

.card-copy-fog::after {
  content: 'Copied!';
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  pointer-events: none;
  background-color: var(--fog-bg);
}
